#start-btn
{
    width: 30%;
} 
.copy_right_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-style:oblique;
}
#heading4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-style:unset;
}
#camera{
    width:500px;
    height:400px;
    border-color: aquamarine;
}
img-hover{
    border-radius:140px;
    box-shadow:0 6px 8px 0 rgba(2,2,2,0.2);
}